@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Rubik:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}



.log {
  color: #fff;
  font-size: 25px;
}

:root {
    --ff-title: 'Dela Gothic One', sans-serif;
    --ff-text: 'Rubik', sans-serif;
}

.section {
  display: flex;
  padding: 6em;
  gap: 4em;
  justify-content: center;
}     

.home {
  padding-top: 4em;
}

.img-gonzalo {
  max-width: 350px;
  border-radius: 30px;
  padding-bottom: 6em;

}

.titulo-home {
  color: #6a1bff;
  font-size: 3em;
}

.titulo2-home {
  color: #ac84fc;
  font-size: 1em;
  font-family: var(--ff-text);
  padding-bottom: 7px;
}

.parrafo-home {
  color: #ffffff;
  max-width: 550px;
}

body {
  font-family: var(--ff-text);
  background-color: #1c1c1c
}

h1, h2, h3 {
  font-family: var(--ff-title);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  gap: 2em;
  font-size: 15px;
}

.nav-list {
  display: flex;
  color: #fff;
  padding-top: 1em;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 2px;
  background-color: rgb(55, 0, 255);
  transform: scaleX(0);
  transition: .2s;
}

.nav-link:hover::after {
  transform: scaleX(1);

}

.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 4em;
  padding-top: 4em;

}

.main-header{
  display: flex;
  justify-content: space-between;
  padding-right: 6em;
  padding-left: 6em;
  padding-bottom: 0;
  padding-top: 1.5em;
}

.logo {
  max-width: 3em;
}


.content h2, a {
  margin: 10px 0;
}

.card:hover .content {
  opacity: 1;
}


.quien-soy-inner {
  display: grid;
  grid-template-columns: .35fr 1fr;
  grid-template-areas:
      "foto titulo"
      "foto texto";
      padding-block: 3rem;
      column-gap: 2em;
}

.foto-gonza {
  grid-area: foto;
  max-width: 300px;
  border-radius: 10px;
  border: 3px solid rgb(55, 0, 255);
}

.foto-gonza img {
  max-width: 100%;
}

.quien-soy-title {
  grid-area: titulo;
  font-size: 3em;
  color: #ffffff;
}

.quien-soy-text {
  grid-area: texto;
  font-size: 1.1rem;
  line-height: 1.3;
  color: #fff;
}

.container-proyectos {
  margin: 0 auto;
  padding-inline: 2rem;
  padding: 30px;
  background-color: #1c1c1c;
  padding-top: 3rem;
  border-top: 3px solid rgb(55, 0, 255);
  border-bottom: 3px solid rgb(55, 0, 255);
}

.title-proj {
  font-size: 2em;
  text-align: center;
  color: #fff;
}

.text-proj {
  padding-top: 2rem;
  color: #fff;
  width: 600px;
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
}

.contenido-card {
  display: grid;
}
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
  padding-bottom: 4em;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #000000;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:rgb(55, 0, 255);
	box-shadow: 0px 1px 10px rgb(255, 255, 255);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #ffffff;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #ffffff;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #ffffff;
	border: 1px solid #fff6f6;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #070707;
	color: #fff;
}

.tarjetas {
  justify-content: center;

}

.text-end {
  text-align: center;
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 1.5em;
  color: #fff;
}

.container-sobremi {
  padding: 3rem;
}

.sobremi-text {
  max-width: 500px;
}

.sobre-mi {
  padding-block: 2rem;
  background-color: #1c1c1c
}

.skills {
}

.certificado {
  padding: .5rem 1rem;
  font-weight: 500;
  display: flex;
  gap: .5rem;
  position: relative;
  isolation: isolate;
  color: #fff;
}

.btns {
  display: flex;
}

.sobremi-text {
  padding-block: 1rem;
  font-size: 15px;
  color: rgb(255, 255, 255)
}

.sobremi-title {
  font-size: 2.5rem;
  color: rgb(255, 255, 255)
}

.title-curso {
  font-size: 1.5rem;
  color: rgb(255, 255, 255)
}

.certificado::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: rgb(55, 0, 255);
  transition: .2s;
  z-index: -1;
}

.certificado:hover {
  color: rgb(255, 255, 255)
}

.certificado:hover::after {
  height: 100%;
}

.social {
  padding: 20px;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social i {
  font-size: 2.5rem;
  color: #ffffff;
  justify-content: center;
}

.social i:hover {
  transition: .3s;
  color: rgb(55, 0, 255);
}


.container-footer {
  padding: 3rem;
  
}

.footer {
  background-color: #1c1c1c;
  padding-top: 50px;
  justify-content: center;
}

.div-footer {
  border-top: 3px solid rgb(55, 0, 255);
}

.title-footer {
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
}

.text-footer {
  color: #ffffff;
  font-size: 1em;
  text-align: center;
}

.title-footer{
  transition: .5s, color .10s;
      -webkit-transition: .5s, color .10s;
      -moz-transition: .5s, color .10s;
}
.title-footer:hover{
  transform: translatey(-20px);
      -webkit-transform: translatey(-20px);
      -moz-transform: translatey(-20px);
}

@media only screen and (max-width: 600px) {

  .quien-soy-title {
    font-size: 2em;
  }

  .quien-soy-text {
    font-size: small;
  }
  .container-card {
    display: grid;
  }
}